<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{imp[0]}} - {{imp[1][0]}}</title>
        <link rel="stylesheet" href="/views/main_css/main.css">
        {{imp[1][5]|safe}}
        {{imp[2][3]|safe}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="top_tool">
            <a href="/">{{imp[1][4]|safe}}</a> <span style="margin-left: 10px"></span>
            <a href="/recent_changes">최근 변경</a> <span style="margin-left: 10px"></span>
            <a href="/recent_discuss">최근 토론</a> <span style="margin-left: 10px"></span>
            <a href="/random">무작위</a> <span style="margin-left: 10px"></span>
            {% if imp[2][2] == 1 %}
                <a href="/user">사용자 (로그인)</a>
            {% elif imp[2][2] == 0 %}
                <a href="/user">사용자</a>
            {% else %}
                <a href="/user">사용자 (알림)</a>
            {% endif %}
            <span style="margin-left: 10px"></span>
            <a href="/other">기타</a>
        </div>
        <hr>
         <form method="post" action="/search" id="searchform" role="search">
            <input name="search" placeholder="검색">
        </form>       
        <hr>
        <div id="tool">
            {% if menu != 0 %}
                {% for sub_d in menu %}
                    <a href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                    <span style="margin-left: 10px"></span>
                {% endfor %}
                <hr>
            {% endif %}
        </div>
        <div id="data">
            <h1 id="title">
                {{imp[0]}}
                {% if imp[3][0] != 0 %}
                    <sub>{{imp[3][0]}}</sub>
                {% endif %}
            </h1>
            <hr>
            {{data|safe}}
            <hr id="last">
            <p>{{imp[1][1]|safe}}</p>
            <div id="powered">
                <a href="https://github.com/2DU/openNAMU">오픈나무</a>
            </div>
    </body>
</html>