textarea { width: 100%; }
input { width: 100%; }
hr#last { margin-top: 30px; }
div#toc { border: 1px solid; padding: 20px; width: fit-content; width: -moz-fit-content; margin-top: 10px; }
table { border-collapse: collapse; }
td { border: 1px solid; padding: 5px; }
a { text-decoration: none; }
a.not_thing { color: red; }
a#inside, a.out_link, a#open { color: green; }
a.out_link::before { background: green; color: white; content: "밖"; }
input[type="checkbox"] { width: auto; }
.popup { position: fixed; bottom: 0; padding: 10px; left: 0; background: lightgray; width: 100%; }
ul#list { padding: 10px; }
td#toron_color_green { background: darkseagreen; }
td#toron_color_blue { background: skyblue; }
div#cate { border: 1px solid; padding: 5px; }
td#toron_color_red { background: indianred; }
@media (max-width: 768px) { table { min-width: 100%; } }
@media (min-width: 1024px) { body { width: 80%; margin: auto; padding: 10px; border: 1px solid; } }
@media (min-width: 1920px) { body { width: 60%; } }
blockquote { border: 1px solid; padding: 15px; margin: 0; margin-top: 10px; }
img, iframe { max-width: 100%; }
pre { white-space: pre-line; }