textarea { width: 100%; }
input { width: 100%; }
hr#last { margin-top: 30px; }
div#toc { border: 1px solid; padding: 20px; width: fit-content; }
hr#under_bar { margin-bottom: -5px; }
table { border-collapse: collapse; }
td { border: 1px solid; padding: 5px; }
a { text-decoration: none; }
a.not_thing { color: red; }
a#inside, a.out_link { color: green; }
a.out_link::before { background: green; color: white; content: "밖"; }
input[type="checkbox"] { width: auto; }
.popup { background: gainsboro; }